script(type='text/javascript', src='/javascripts/submit.js')


h1 Dupe Checker!
p
  | This is for checking for duplicate GIFs on the
  a(href='https://www.facebook.com/groups/animatedgifs/', target='_BLANK') Animated GIFs Facebook group.
  |  It uses the hash of your GIF, so even if someone submitted from a
  | different link, it should be able to find it.

p.

  Right now, it only works on posts (no comments), and if the it's a
  "link" type object in Facebook's Graph API. That, and it only
  updates when I tell it to, so it may not be completely up to date on
  the most recent posts. Still, give it a try! Also, if you feel like
  fixing those things, fork this on Github (disclaimer: it's
  reasonably messy and hack-ish)!

label(for='url') URL of GIF:
input(type='text')#url
input(type='button', value='Check')#submit

p#results
ul#links

p(style='margin-top: 30px')
  | Hacked together by 
  a(href='http://facebook.com/ankit.shankar', target='_BLANK') Ankit Shankar

if req.fb_data
  script(type='text/javascript')
    window.user_id = "#{req.fb_data.user_id}";
    window.oauth_token = "#{req.fb_data.oauth_token}"

    $('#url').keypress(function(e) {
      if (e.keyCode == 13) {
         $('#submit').click();
      }
    });