script(type='text/javascript', src='/javascripts/submit.js')

input(type='text')#url
input(type='button', value='Check')#submit

p#results

if req.fb_data
  script(type='text/javascript')
    window.user_id = "#{req.fb_data.user_id}"